
<h1 class='animated fadeIn fast'>Sobre los guerreros Z</h1>
<hr>
<p class='animated fadeIn'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quibusdam eaque, expedita itaque, molestiae ipsa quia adipisci ipsum debitis, doloribus voluptate dicta saepe reiciendis deserunt. Consequuntur eos veniam dolorem dicta molestias, ipsam odio ratione voluptas explicabo veritatis quaerat praesentium voluptate eveniet minima, accusamus at quisquam adipisci amet quas harum mollitia.</p>

<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
                <img src="assets/img/dbz/images.jpg" class='img-fluid w-100' alt="">
        </div>
    </div>
</div>
