<div class="card-columns">

    <div *ngFor="let guerrero of xxx; let i= index " class="card animated fadeIn fast">
        <img src="{{guerrero.img}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{guerrero.nombre}}</h5>
            <p class="card-text">{{guerrero.descripcion}}</p>
            <p class="card-text"><small class="text-muted">{{guerrero.poder}}</small></p>

            <!-- <button class='btn-block btn btn-outline-primary'>Ver mas...</button> -->

            <a [routerLink]="['/guerrero',i]" class='btn-block btn btn-outline-primary'> link</a>
        </div>
    </div>
</div>